body {
  button.tabledrag-toggle-weight {
    margin: 5px;
  }

  td.field-multiple-drag {
    max-width: 30px;
  }

  .inline {
    display: inline-block;
  }

  ul.links.inline {
    padding: 0;
    margin: 0;

    li {
      @extend .no-ul-list;

      padding: 0 9px 3px 0;
      display: inline-block;
    }
  }
}

form .form-item {

  &.form-type-textarea {
    padding-bottom: 0;
  }
}

form .description {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 3px;
}

.layout-node-form .layout-region-node-secondary > .form-wrapper {
  @extend .blocked-style;

  h3,
  h4 {
    font-size: inherit;
  }
}

.layout-node-form .layout-region-node-footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid $off-white;
}

form details.js-form-wrapper {
  cursor: pointer;
}

.js input.form-autocomplete,
.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: 100% center;
  background-repeat: no-repeat;
}

.js[dir="rtl"] input.form-autocomplete,
.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
  background-position: 0% center;
  background-repeat: no-repeat;
}

.block {
  position: relative;
}

.block-local-tasks-block {
  .contextual {
    display: none;
  }
}

/**
 * Pager.
 */

/* A list of page numbers when more than 1 page of content is available. */
.pager
.pager__items {
  clear: both;
  padding: 0;
  text-align: center;
}
ul.pager__items {
  list-style: none;
}

%pager__item {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
  background-image: none;
}

.pager__item,      /* A list item containing a page number in the list of pages. */
.pager__item--first,     /* The first page's list item. */
.pager__item--previous,  /* The previous page's list item. */
.pager__item--next,      /* The next page's list item. */
.pager__item--last,      /* The last page's list item. */
.pager-ellipsis { /* A concatenation of several list items using an ellipsis. */
  @extend %pager__item;
}

.pager__item.is-active {
  @extend %pager__item;
  font-weight: bold;
}
