#block-twg-branding {
  position: absolute;
  top: 12px;
  left: 30px;
  display: inline-block;
  z-index: 1;

  @include breakpoint($up-sm) {
    top: 22px;
    left: 34px;
  }

  @include breakpoint($large) {
    left: 45px;
  }
  a {
    display: inline-block;
  }
  img {
    width: 64px;

    @include breakpoint($up-sm) {
      width: 106px;
    }

    @include breakpoint($large) {
      width: 130px;
    }
  }
}
