.region-footer {
  .block-menu ul.menu {
    @extend .no-ul-list;
  }
}

#block-footer-block {
  background: #38bbf0;
  padding: 18px 12px;
  padding: 18px;
  position: relative;
  a {
    color: black;
    text-decoration: underline;
  }

  .field--name-field-footer-body {
    padding-right: 0;
    padding-bottom: 10px;
    @include breakpoint($large) {
      padding-right: 200px;
      padding-bottom: 0;
    }
    p {
      line-height: 22px;
      color: #111111;
      margin: 0;
    }
  }

  .footer-social {
    position: relative;
    @include breakpoint($large) {
      position: absolute;
      top: 12px;
      right: 16px;
    }
    a {
      background-image: url(../images/icons-s8428879d15.png);
      background-repeat: no-repeat;
      height: 36px;
      width: 36px;
      display: inline-block;
      text-indent: -9999em;
      margin-left: 10px;

      &.snapchat {
        background-position: 0 -295px;
        &:hover {
          background-position: 0 -341px;
        }
      }
      &.instagram {
        background-position: 0 -158px;
        &:hover {
          background-position: 0 -249px
        }
      }
      &.facebook {
        background-position: 0 -602px;
        &:hover {
          background-position: 0 -387px;
        }
      }
      &.twitter {
        background-position: 0 -686px;
        &:hover {
          background-position: 0 -204px;
        }
      }
      &.youtube {
        background-position: 0 0;
        &:hover {
          background-position: 0 -112px;
        }
      }
    }
  }
}
