#header-region {
  min-height: 50px;
  .region-header {
    position: relative;
    @extend .clearfix;
  }
}

.not-front {
  #header, #header-placeholder {
    @include breakpoint($up-sm) {
      height: 104px;
    }
    @include breakpoint($large) {
      height: 122px;
    }
  }
  .sticky {
    #header {
      @include breakpoint($up-sm) {
        height: 67px;
      }
      @include breakpoint($large) {
        height: 67px;
      }
    }
  }
}

#block-twg-main-menu {
  display: none;
  @include breakpoint($up-sm) {
    display: block;
  }
  padding-left: 138px;
  @include breakpoint($large) {
    padding-left: 190px;
  }
  .menu {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    ul {
      display: none;
    }

    li {
      margin: 0;
      list-style: none;
      display: inline-block;
      margin: 0 -2px;

      a {
        font-weight: bold;
        font-size: 16px;
        width: 100%;
        color: $blue--menu;
        padding: 0 16px;
        text-decoration: none;
        text-align: center;
        line-height: 82px;
        font-family: $HelveticaNeueW02_57Cn;

        &.is-active,
        &:hover {
          background-color: $blue--footer;
          color: white;
        }

        @include breakpoint($up-sm) {
        display: inline-block;
      }

        @include breakpoint($large) {
        font-size: 21px;
        line-height: 100px;
      }
      }

      &.is-active a {
        background-color: $blue--footer;
        color: white;
      }
    }
  }
}

#block-twg-search {
  position: absolute;
  display: block;
  right: 0;
  top: 50px;
  width: 0;
  box-sizing: border-box;
  background: rgba(255,255,255,0.8);
  //padding: 20px;

  @include breakpoint($up-sm) {
    background: white;
    padding: 0;
    right: 85px;
    top: 29px;
    width: 0;
  }

  @include breakpoint($large) {
    right: 19px;
    top: 37px;
    width: 210px;
  }

  .inner-search {
    position: relative;
  }

  form {
    margin: 0;

    .form-item {
      padding: 0;
      margin: 0;

      input {
        margin-bottom: 0;
        width: 100%;
        height: 28px;
        padding: 0;
        border: none;
        @include breakpoint($large) {
          padding: 0 5px;
          border: #d8e0e2 1px solid;
        }
      }
    }

    .form-actions input {
      cursor: pointer;
      background-color: #f6f8f9;
      background-image: url(../images/icons-s8428879d15.png);
      background-repeat: no-repeat;
      background-position: 3px -81px;
      position: absolute;
      border: none;
      top: 2px;
      right: 2px;
      font-size: 0;
      height: 24px;
      width: 26px;
    }
  }

  .contextual .trigger {
    display: none;
  }

  form input[type=submit] {
    border: none;
    @include breakpoint($up-sm) {
      border: none;
      display: none;
    }
    @include breakpoint($large) {
      display: block
    }
  }


  &.open {
    width: 100%;
    z-index:1;
    padding: 20px;

    @include breakpoint($up-sm) {
      width: 210px;
      padding: 0;
    }

    form input {
      padding: 0 5px;
      border: #d8e0e2 1px solid;
      &[type=submit] {
        @include breakpoint($up-sm) {
          border: none;
        }
      }
    }

    form input[type=submit] {
      border: none;
      @include breakpoint($up-sm) {
        display: block;
      }
    }

  }
}

#block-dropdown-language {
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 52px;
  @extend %font-helvetica-neue;

  @include breakpoint($up-sm) {
    top: 30px;
    right: 15px;
  }

  @include breakpoint($large) {
    top: 2px;
    right: 3px;
  }

  .contextual {
    display: none;
  }

  .active-language {
    font-size: 13px;
    color: $blue--menu;
    cursor: pointer;
    .name {
      display: none;
      @include breakpoint($large) {
        display: inline;
      }
    }
    .key {
      text-transform: uppercase;
      font-size: 17px;
      @include breakpoint($large) {
        display: none;
      }
    }
  }

  .dropbutton-arrow {
    color: $blue--menu;
  }

  li {
    margin: 0;
  }

  .dropbutton-toggle {
    width: 3em;
    button {
      background: none;

      &:hover {
        background: none;
      }
    }
  }

  .dropbutton-wrapper.open {

    .dropdown-language-item {
      background: white;
      border: 1px solid #eeeeee;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .dropbutton-toggle {
      height: 25px;
    }

    .language-link {
      background-color: white;
      display: block;
      width: 100%;
      padding: 0 10px;
      color: black;
      font-size: 14px;
      text-decoration: none;
      font-family: $helvetica;
      .key {
        display: none;
      }
    }

    span.language-link {
      color: $blue--menu;
    }

    a.language-link {
      &:hover {
        background-color: $blue;
        color: white;
      }
    }
  }
}

.mobile-menu-opener {
  position: absolute;
  top: 18px;
  right: 143px;
  width: 22px;
  height: 15px;
  background-image: url("../images/icons-s8428879d15.png");
  background-repeat: no-repeat;
  background-position: 0 -461px;

  @include breakpoint($up-sm) {
    display: none;
  }
}

.search-opener {
  background-color: white;
  background-image: url(../images/icons-s8428879d15.png);
  background-repeat: no-repeat;
  background-position: 0 -84px;
  height: 19px;
  width: 20px;
  border: none;
  //background-color: transparent;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  right: 26px;
  top: 17px;

  @include breakpoint($up-sm) {
    right: 91px;
    top: 34px;
  }

  &.open {
    @include breakpoint($up-sm) {
      display: none;
    }
  }

  @include breakpoint($large) {
    right: 26px;
    top: 42px;
    display: none;
  }

}

#block-main-navigation-mobile {
  position: absolute;
  display: none;

  .menu {

  }

  .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 0;
      a {
        font-weight: bold;
        font-size: 16px;
        display: block;
        width: 100%;
        border-bottom: #cccccc 1px solid;
        color: #0395cf;
        padding: 16px;
        text-decoration: none;
        font-family: $HelveticaNeueW02_57Cn;

        &:hover,
        &.active,
        &.active-trail {
          background: #38bbf0;
          color: white;
          border-bottom-color: white;

        }
      }
      &.expanded {
        > a:after {
          background-repeat: no-repeat;
          background-position: 0 -486px;
          height: 6px;
          width: 12px;
          content: '';
          display: inline-block;
          margin-left: 6px;
          padding-bottom: 2px;
          background-image: url("../images/icons-s8428879d15.png");
        }
        > a:hover:after {
          background-position: 0 -502px;
        }
        > .menu {
          display: none;
        }
      }
      &.expanded.open {
        > a {
          background: #38bbf0;
          color: white;
          &:after {
            background-position: 0 -518px;
          }
        }
      }
    }
  }

  .expanded .menu li {
    border-left: #38bbf0 20px solid;
    padding-left: 5px;
  }


  &.open {
    display: block;
    top: 50px;
    right: 0;
    width: 90%;
    background: rgba(255,255,255,0.95);
    z-index: 5;
  }

  @include breakpoint($up-sm) {
    display: none !important;
  }
}

#header-placeholder {
  display: none;
  height: 50px;
  @include breakpoint($up-sm) {
    height: 82px;
  }
  @include breakpoint($large) {
    height: 100px;
  }

}

.mq-header {
  height: 50px;
  background: white;

  @include breakpoint($up-sm) {
    height: 82px;
  }
  @include breakpoint($large) {
    height: 100px;
  }
}

.sticky {
  #header-placeholder {
    display: block;
  }

  #header {
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 10;

    .mq-header {
      height: 50px;
      @include breakpoint($up-sm) {
        height: 67px;
      }

    }
  }

  @include breakpoint($up-sm) {

    #block-twg-main-menu {
      .menu li a {
        line-height: 67px;
      }
    }

    // We correct the original top-values by subtracting 6 pixels
    #block-twg-branding {
      top: 6px;
    }
    #block-twg-search {
      top: 22px;
    }
    .search-opener {
      top: 26px;
    }
    #block-dropdown-language {
      top: 21px;
      @include breakpoint($large) {
        top: -1px;
      }
    }

  }
}

.turns-sticky.sticky {
  .logged-out & {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
    background: white;
    padding-left: 7px;
    padding-right: 7px;

    @include breakpoint($large) {
      padding-left: 0;
      padding-right: 32px;
      width: 666.66667px;
      left: auto;
      top: 67px;
    }
  }
}
