#header-region {
  .region-header {
    position: relative;
  }

  .block-search {
    position: absolute;
    display: block;
    right: 19px;
    top: 37px;

    .form-actions input {
      background-position: 0 -84px;
      height: 18px;
      width: 18px;
      border: none;
      background-color: transparent;
      text-indent: -9999em;
      position: absolute;
      right: 8px;
      top: 5px;
    }
  }
}

#block-twg-branding {
  top: 22px;
  left: 45px;
}


